@font-face { font-family: 'mhicons'; src: url("../../../css/fonts/mhicons-v4-3.eot"); src: url("../../../css/fonts/mhicons-v4-3.eot?#iefix") format("embedded-opentype"), url("../../../css/fonts/mhicons-v4-3.woff") format("woff"), url("../../../css/fonts/mhicons-v4-3.ttf") format("truetype"), url("../../../css/fonts/mhicons-v4-3.svg#mhicons") format("svg"); font-weight: normal; font-style: normal; }
[class^="mhicons-icon-"], [class*=" mhicons-icon-"] { font-family: 'mhicons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.mh_menu_icons_main_container { position: relative; width: 95%; margin: 30px auto 0; }

.mh_menu_icons_all { background: #fff; }

.mh_menu_icons_header { background-color: #00b6dd; padding: 25px 20px; line-height: .8; position: relative; z-index: 2; border-bottom: 1px solid #78cee1; }

.mh_menu_icons_title { font-weight: 100 !important; color: white; border-bottom: 0px; line-height: 16px; margin: 0px; position: relative; padding-left: 38px; font-family: "Open Sans", sans-serif !important; font-size: 22px; }

.mh_menu_icons_title::before { font-family: 'mh-app'; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; content: "\e93a"; display: block; position: absolute; font-size: 24px; left: 0; top: -4px; }

p.mh_menu_icons_notice { padding: 20px 20px 0; color: #818488; margin: 0 0 20px; }

.glyph fieldset { margin: 0; padding: 0; border: 0; text-align: left; }

.glyph input { width: 99%; box-sizing: border-box; }

.glyph input:focus { outline: none; }

.glyph { margin-right: 3%; max-width: 150px; min-width: 17.6%; padding: 3% 0; float: left; overflow: hidden; text-align: center; -moz-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; }

.glyph:hover, .glyph:focus { color: #00b6dd; }

.liga { width: 80%; width: calc(100% - 2.5em); }

.fgc1 { color: #818488; }

.mhl { margin-left: 1.5em; margin-right: 1.5em; }

.ptl { padding-top: 1.5em; }

.pbs, .pvs { padding-bottom: .25em; }

.pvs { padding-top: .25em; }

.unit { text-align: center; }

.size1of1 { width: 100%; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.hidden-true { display: none; }

.fs0 { font-size: 16px; }

.fs1 { font-size: 24px; }

.mhicons-icon-phone:before { content: "\e600"; }

.mhicons-icon-mobile:before { content: "\e601"; }

.mhicons-icon-mouse:before { content: "\e602"; }

.mhicons-icon-directions:before { content: "\e603"; }

.mhicons-icon-mail:before { content: "\e604"; }

.mhicons-icon-paperplane:before { content: "\e605"; }

.mhicons-icon-pencil:before { content: "\e606"; }

.mhicons-icon-feather:before { content: "\e607"; }

.mhicons-icon-paperclip:before { content: "\e608"; }

.mhicons-icon-drawer:before { content: "\e609"; }

.mhicons-icon-reply:before { content: "\e60a"; }

.mhicons-icon-reply-all:before { content: "\e60b"; }

.mhicons-icon-forward:before { content: "\e60c"; }

.mhicons-icon-user:before { content: "\e60d"; }

.mhicons-icon-users:before { content: "\e60e"; }

.mhicons-icon-user-add:before { content: "\e60f"; }

.mhicons-icon-vcard:before { content: "\e610"; }

.mhicons-icon-export:before { content: "\e611"; }

.mhicons-icon-location:before { content: "\e612"; }

.mhicons-icon-map:before { content: "\e613"; }

.mhicons-icon-compass:before { content: "\e614"; }

.mhicons-icon-location2:before { content: "\e615"; }

.mhicons-icon-target:before { content: "\e616"; }

.mhicons-icon-share:before { content: "\e617"; }

.mhicons-icon-sharable:before { content: "\e618"; }

.mhicons-icon-heart:before { content: "\e619"; }

.mhicons-icon-heart2:before { content: "\e61a"; }

.mhicons-icon-star:before { content: "\e61b"; }

.mhicons-icon-star2:before { content: "\e61c"; }

.mhicons-icon-thumbsup:before { content: "\e61d"; }

.mhicons-icon-thumbsdown:before { content: "\e61e"; }

.mhicons-icon-chat:before { content: "\e61f"; }

.mhicons-icon-comment:before { content: "\e620"; }

.mhicons-icon-quote:before { content: "\e621"; }

.mhicons-icon-house:before { content: "\e622"; }

.mhicons-icon-popup:before { content: "\e623"; }

.mhicons-icon-search:before { content: "\e624"; }

.mhicons-icon-flashlight:before { content: "\e625"; }

.mhicons-icon-printer:before { content: "\e626"; }

.mhicons-icon-bell:before { content: "\e627"; }

.mhicons-icon-link:before { content: "\e628"; }

.mhicons-icon-flag:before { content: "\e629"; }

.mhicons-icon-cog:before { content: "\e62a"; }

.mhicons-icon-tools:before { content: "\e62b"; }

.mhicons-icon-trophy:before { content: "\e62c"; }

.mhicons-icon-tag:before { content: "\e62d"; }

.mhicons-icon-camera:before { content: "\e62e"; }

.mhicons-icon-megaphone:before { content: "\e62f"; }

.mhicons-icon-moon:before { content: "\e630"; }

.mhicons-icon-palette:before { content: "\e631"; }

.mhicons-icon-leaf:before { content: "\e632"; }

.mhicons-icon-music:before { content: "\e633"; }

.mhicons-icon-music2:before { content: "\e634"; }

.mhicons-icon-new:before { content: "\e635"; }

.mhicons-icon-graduation:before { content: "\e636"; }

.mhicons-icon-book:before { content: "\e637"; }

.mhicons-icon-newspaper:before { content: "\e638"; }

.mhicons-icon-bag:before { content: "\e639"; }

.mhicons-icon-airplane:before { content: "\e63a"; }

.mhicons-icon-lifebuoy:before { content: "\e63b"; }

.mhicons-icon-eye:before { content: "\e63c"; }

.mhicons-icon-clock:before { content: "\e63d"; }

.mhicons-icon-microphone:before { content: "\e63e"; }

.mhicons-icon-calendar2:before { content: "\e63f"; }

.mhicons-icon-bolt:before { content: "\e640"; }

.mhicons-icon-thunder:before { content: "\e641"; }

.mhicons-icon-droplet:before { content: "\e642"; }

.mhicons-icon-cd:before { content: "\e643"; }

.mhicons-icon-briefcase:before { content: "\e644"; }

.mhicons-icon-air:before { content: "\e645"; }

.mhicons-icon-hourglass:before { content: "\e646"; }

.mhicons-icon-gauge:before { content: "\e647"; }

.mhicons-icon-language:before { content: "\e648"; }

.mhicons-icon-network:before { content: "\e649"; }

.mhicons-icon-key:before { content: "\e64a"; }

.mhicons-icon-battery:before { content: "\e64b"; }

.mhicons-icon-bucket:before { content: "\e64c"; }

.mhicons-icon-magnet:before { content: "\e64d"; }

.mhicons-icon-drive:before { content: "\e64e"; }

.mhicons-icon-cup:before { content: "\e64f"; }

.mhicons-icon-rocket:before { content: "\e650"; }

.mhicons-icon-brush:before { content: "\e651"; }

.mhicons-icon-suitcase:before { content: "\e652"; }

.mhicons-icon-cone:before { content: "\e653"; }

.mhicons-icon-earth:before { content: "\e654"; }

.mhicons-icon-keyboard:before { content: "\e655"; }

.mhicons-icon-browser:before { content: "\e656"; }

.mhicons-icon-publish:before { content: "\e657"; }

.mhicons-icon-progress-3:before { content: "\e658"; }

.mhicons-icon-progress-2:before { content: "\e659"; }

.mhicons-icon-brogress-1:before { content: "\e65a"; }

.mhicons-icon-progress-0:before { content: "\e65b"; }

.mhicons-icon-sun:before { content: "\e65c"; }

.mhicons-icon-sun2:before { content: "\e65d"; }

.mhicons-icon-adjust:before { content: "\e65e"; }

.mhicons-icon-code:before { content: "\e65f"; }

.mhicons-icon-screen:before { content: "\e660"; }

.mhicons-icon-infinity:before { content: "\e661"; }

.mhicons-icon-light-bulb:before { content: "\e662"; }

.mhicons-icon-creditcard:before { content: "\e663"; }

.mhicons-icon-database:before { content: "\e664"; }

.mhicons-icon-voicemail:before { content: "\e665"; }

.mhicons-icon-clipboard:before { content: "\e666"; }

.mhicons-icon-cart:before { content: "\e667"; }

.mhicons-icon-box:before { content: "\e668"; }

.mhicons-icon-ticket:before { content: "\e669"; }

.mhicons-icon-rss:before { content: "\e66a"; }

.mhicons-icon-signal:before { content: "\e66b"; }

.mhicons-icon-thermometer:before { content: "\e66c"; }

.mhicons-icon-droplets:before { content: "\e66d"; }

.mhicons-icon-uniE66E:before { content: "\e66e"; }

.mhicons-icon-statistics:before { content: "\e66f"; }

.mhicons-icon-pie:before { content: "\e670"; }

.mhicons-icon-bars:before { content: "\e671"; }

.mhicons-icon-graph:before { content: "\e672"; }

.mhicons-icon-lock:before { content: "\e673"; }

.mhicons-icon-lock-open:before { content: "\e674"; }

.mhicons-icon-logout:before { content: "\e675"; }

.mhicons-icon-login:before { content: "\e676"; }

.mhicons-icon-checkmark:before { content: "\e677"; }

.mhicons-icon-cross:before { content: "\e678"; }

.mhicons-icon-minus:before { content: "\e679"; }

.mhicons-icon-plus:before { content: "\e67a"; }

.mhicons-icon-cross2:before { content: "\e67b"; }

.mhicons-icon-minus2:before { content: "\e67c"; }

.mhicons-icon-plus2:before { content: "\e67d"; }

.mhicons-icon-cross3:before { content: "\e67e"; }

.mhicons-icon-minus3:before { content: "\e67f"; }

.mhicons-icon-plus3:before { content: "\e680"; }

.mhicons-icon-erase:before { content: "\e681"; }

.mhicons-icon-blocked:before { content: "\e682"; }

.mhicons-icon-info:before { content: "\e683"; }

.mhicons-icon-info2:before { content: "\e684"; }

.mhicons-icon-question:before { content: "\e685"; }

.mhicons-icon-help:before { content: "\e686"; }

.mhicons-icon-warning:before { content: "\e687"; }

.mhicons-icon-cycle:before { content: "\e688"; }

.mhicons-icon-cw:before { content: "\e689"; }

.mhicons-icon-ccw:before { content: "\e68a"; }

.mhicons-icon-shuffle:before { content: "\e68b"; }

.mhicons-icon-arrow:before { content: "\e68c"; }

.mhicons-icon-arrow2:before { content: "\e68d"; }

.mhicons-icon-retweet:before { content: "\e68e"; }

.mhicons-icon-loop:before { content: "\e68f"; }

.mhicons-icon-history:before { content: "\e690"; }

.mhicons-icon-back:before { content: "\e691"; }

.mhicons-icon-switch:before { content: "\e692"; }

.mhicons-icon-list:before { content: "\e693"; }

.mhicons-icon-add-to-list:before { content: "\e694"; }

.mhicons-icon-layout:before { content: "\e695"; }

.mhicons-icon-list2:before { content: "\e696"; }

.mhicons-icon-text:before { content: "\e697"; }

.mhicons-icon-text2:before { content: "\e698"; }

.mhicons-icon-document:before { content: "\e699"; }

.mhicons-icon-docs:before { content: "\e69a"; }

.mhicons-icon-landscape:before { content: "\e69b"; }

.mhicons-icon-pictures:before { content: "\e69c"; }

.mhicons-icon-video:before { content: "\e69d"; }

.mhicons-icon-music3:before { content: "\e69e"; }

.mhicons-icon-folder:before { content: "\e69f"; }

.mhicons-icon-archive:before { content: "\e6a0"; }

.mhicons-icon-trash:before { content: "\e6a1"; }

.mhicons-icon-upload:before { content: "\e6a2"; }

.mhicons-icon-download:before { content: "\e6a3"; }

.mhicons-icon-disk:before { content: "\e6a4"; }

.mhicons-icon-install:before { content: "\e6a5"; }

.mhicons-icon-cloud:before { content: "\e6a6"; }

.mhicons-icon-upload2:before { content: "\e6a7"; }

.mhicons-icon-bookmark:before { content: "\e6a8"; }

.mhicons-icon-bookmarks:before { content: "\e6a9"; }

.mhicons-icon-book2:before { content: "\e6aa"; }

.mhicons-icon-play:before { content: "\e6ab"; }

.mhicons-icon-pause:before { content: "\e6ac"; }

.mhicons-icon-record:before { content: "\e6ad"; }

.mhicons-icon-stop:before { content: "\e6ae"; }

.mhicons-icon-next:before { content: "\e6af"; }

.mhicons-icon-previous:before { content: "\e6b0"; }

.mhicons-icon-first:before { content: "\e6b1"; }

.mhicons-icon-last:before { content: "\e6b2"; }

.mhicons-icon-resize-enlarge:before { content: "\e6b3"; }

.mhicons-icon-resize-shrink:before { content: "\e6b4"; }

.mhicons-icon-volume:before { content: "\e6b5"; }

.mhicons-icon-sound:before { content: "\e6b6"; }

.mhicons-icon-mute:before { content: "\e6b7"; }

.mhicons-icon-flow-cascade:before { content: "\e6b8"; }

.mhicons-icon-flow-branch:before { content: "\e6b9"; }

.mhicons-icon-flow-tree:before { content: "\e6ba"; }

.mhicons-icon-flow-line:before { content: "\e6bb"; }

.mhicons-icon-flow-parallel:before { content: "\e6bc"; }

.mhicons-icon-arrow-left:before { content: "\e6bd"; }

.mhicons-icon-arrow-down:before { content: "\e6be"; }

.mhicons-icon-arrow-up-upload:before { content: "\e6bf"; }

.mhicons-icon-arrow-right:before { content: "\e6c0"; }

.mhicons-icon-arrow-left2:before { content: "\e6c1"; }

.mhicons-icon-arrow-down2:before { content: "\e6c2"; }

.mhicons-icon-arrow-up:before { content: "\e6c3"; }

.mhicons-icon-arrow-right2:before { content: "\e6c4"; }

.mhicons-icon-arrow-left3:before { content: "\e6c5"; }

.mhicons-icon-arrow-down3:before { content: "\e6c6"; }

.mhicons-icon-arrow-up2:before { content: "\e6c7"; }

.mhicons-icon-arrow-right3:before { content: "\e6c8"; }

.mhicons-icon-arrow-left4:before { content: "\e6c9"; }

.mhicons-icon-arrow-down4:before { content: "\e6ca"; }

.mhicons-icon-arrow-up3:before { content: "\e6cb"; }

.mhicons-icon-arrow-right4:before { content: "\e6cc"; }

.mhicons-icon-arrow-left5:before { content: "\e6cd"; }

.mhicons-icon-arrow-down5:before { content: "\e6ce"; }

.mhicons-icon-arrow-up4:before { content: "\e6cf"; }

.mhicons-icon-arrow-right5:before { content: "\e6d0"; }

.mhicons-icon-arrow-left6:before { content: "\e6d1"; }

.mhicons-icon-arrow-down6:before { content: "\e6d2"; }

.mhicons-icon-arrow-up5:before { content: "\e6d3"; }

.mhicons-icon-arrow-right6:before { content: "\e6d4"; }

.mhicons-icon-arrow-left7:before { content: "\e6d5"; }

.mhicons-icon-arrow-down7:before { content: "\e6d6"; }

.mhicons-icon-arrow-up6:before { content: "\e6d7"; }

.mhicons-icon-uniE6D8:before { content: "\e6d8"; }

.mhicons-icon-arrow-left8:before { content: "\e6d9"; }

.mhicons-icon-arrow-down8:before { content: "\e6da"; }

.mhicons-icon-arrow-up7:before { content: "\e6db"; }

.mhicons-icon-arrow-right7:before { content: "\e6dc"; }

.mhicons-icon-menu:before { content: "\e6dd"; }

.mhicons-icon-ellipsis:before { content: "\e6de"; }

.mhicons-icon-dots:before { content: "\e6df"; }

.mhicons-icon-dot:before { content: "\e6e0"; }

.mhicons-icon-cc:before { content: "\e6e1"; }

.mhicons-icon-cc-by:before { content: "\e6e2"; }

.mhicons-icon-cc-nc:before { content: "\e6e3"; }

.mhicons-icon-cc-nc-eu:before { content: "\e6e4"; }

.mhicons-icon-cc-nc-jp:before { content: "\e6e5"; }

.mhicons-icon-cc-sa:before { content: "\e6e6"; }

.mhicons-icon-cc-nd:before { content: "\e6e7"; }

.mhicons-icon-cc-pd:before { content: "\e6e8"; }

.mhicons-icon-cc-zero:before { content: "\e6e9"; }

.mhicons-icon-cc-share:before { content: "\e6ea"; }

.mhicons-icon-cc-share2:before { content: "\e6eb"; }

.mhicons-icon-danielbruce:before { content: "\e6ec"; }

.mhicons-icon-danielbruce2:before { content: "\e6ed"; }

.mhicons-icon-github:before { content: "\e6ee"; }

.mhicons-icon-github2:before { content: "\e6ef"; }

.mhicons-icon-flickr:before { content: "\e6f0"; }

.mhicons-icon-flickr2:before { content: "\e6f1"; }

.mhicons-icon-vimeo:before { content: "\e6f2"; }

.mhicons-icon-vimeo2:before { content: "\e6f3"; }

.mhicons-icon-twitter:before { content: "\e6f4"; }

.mhicons-icon-twitter2:before { content: "\e6f5"; }

.mhicons-icon-facebook:before { content: "\e6f6"; }

.mhicons-icon-facebook2:before { content: "\e6f7"; }

.mhicons-icon-facebook3:before { content: "\e6f8"; }

.mhicons-icon-googleplus:before { content: "\e6f9"; }

.mhicons-icon-googleplus2:before { content: "\e6fa"; }

.mhicons-icon-pinterest:before { content: "\e6fb"; }

.mhicons-icon-pinterest2:before { content: "\e6fc"; }

.mhicons-icon-tumblr:before { content: "\e6fd"; }

.mhicons-icon-tumblr2:before { content: "\e6fe"; }

.mhicons-icon-linkedin:before { content: "\e6ff"; }

.mhicons-icon-linkedin2:before { content: "\e700"; }

.mhicons-icon-dribbble:before { content: "\e701"; }

.mhicons-icon-dribbble2:before { content: "\e702"; }

.mhicons-icon-stumbleupon:before { content: "\e703"; }

.mhicons-icon-stumbleupon2:before { content: "\e704"; }

.mhicons-icon-lastfm:before { content: "\e705"; }

.mhicons-icon-lastfm2:before { content: "\e706"; }

.mhicons-icon-rdio:before { content: "\e707"; }

.mhicons-icon-rdio2:before { content: "\e708"; }

.mhicons-icon-spotify:before { content: "\e709"; }

.mhicons-icon-spotify2:before { content: "\e70a"; }

.mhicons-icon-qq:before { content: "\e70b"; }

.mhicons-icon-instagram:before { content: "\e70c"; }

.mhicons-icon-dropbox:before { content: "\e70d"; }

.mhicons-icon-evernote:before { content: "\e70e"; }

.mhicons-icon-flattr:before { content: "\e70f"; }

.mhicons-icon-skype:before { content: "\e710"; }

.mhicons-icon-skype2:before { content: "\e711"; }

.mhicons-icon-renren:before { content: "\e712"; }

.mhicons-icon-sina-weibo:before { content: "\e713"; }

.mhicons-icon-paypal:before { content: "\e714"; }

.mhicons-icon-picasa:before { content: "\e715"; }

.mhicons-icon-soundcloud:before { content: "\e716"; }

.mhicons-icon-mixi:before { content: "\e717"; }

.mhicons-icon-behance:before { content: "\e718"; }

.mhicons-icon-circles:before { content: "\e719"; }

.mhicons-icon-vk:before { content: "\e71a"; }

.mhicons-icon-smashing:before { content: "\e71b"; }

.mhicons-icon-vine:before { content: "\e71c"; }

.mhicons-icon-youtube:before { content: "\e71d"; }

.mhicons-icon-google-drive:before { content: "\e71e"; }

.mhicons-icon-uni24:before { content: "\e71f"; }

.mhicons-icon-uni25:before { content: "\e720"; }

.mhicons-icon-uni26:before { content: "\e721"; }

.mhicons-icon-uni27:before { content: "\e722"; }

.mhicons-icon-uni28:before { content: "\e723"; }

.mhicons-icon-uni29:before { content: "\e724"; }

.mhicons-icon-uni2A:before { content: "\e725"; }

.mhicons-icon-uni2B:before { content: "\e726"; }

.mhicons-icon-uni2C:before { content: "\e727"; }

.mhicons-icon-uni2D:before { content: "\e728"; }

.mhicons-icon-cart2:before { content: "\e729"; }

.mhicons-icon-uni2F:before { content: "\e72a"; }

.mhicons-icon-uni30:before { content: "\e72b"; }

.mhicons-icon-uni32:before { content: "\e72c"; }

.mhicons-icon-uni33:before { content: "\e72d"; }

.mhicons-icon-uni34:before { content: "\e72e"; }

.mhicons-icon-uni35:before { content: "\e72f"; }

.mhicons-icon-uni36:before { content: "\e730"; }

.mhicons-icon-uni37:before { content: "\e731"; }

.mhicons-icon-uni38:before { content: "\e732"; }

.mhicons-icon-uni39:before { content: "\e733"; }

.mhicons-icon-uni3A:before { content: "\e734"; }

.mhicons-icon-uni3B:before { content: "\e735"; }

.mhicons-icon-uni3C:before { content: "\e736"; }

.mhicons-icon-uni3D:before { content: "\e737"; }

.mhicons-icon-uni3E:before { content: "\e738"; }

.mhicons-icon-uni3F:before { content: "\e739"; }

.mhicons-icon-uni40:before { content: "\e73a"; }

.mhicons-icon-uni41:before { content: "\e73b"; }

.mhicons-icon-uni42:before { content: "\e73c"; }

.mhicons-icon-uni43:before { content: "\e73d"; }

.mhicons-icon-uni44:before { content: "\e73e"; }

.mhicons-icon-uni45:before { content: "\e73f"; }

.mhicons-icon-uni46:before { content: "\e740"; }

.mhicons-icon-uni47:before { content: "\e741"; }

.mhicons-icon-uni48:before { content: "\e742"; }

.mhicons-icon-uni49:before { content: "\e743"; }

.mhicons-icon-uni4A:before { content: "\e744"; }

.mhicons-icon-uni4B:before { content: "\e745"; }

.mhicons-icon-uni4C:before { content: "\e746"; }

.mhicons-icon-uni4D:before { content: "\e747"; }

.mhicons-icon-uni4E:before { content: "\e748"; }

.mhicons-icon-uni4F:before { content: "\e749"; }

.mhicons-icon-uni51:before { content: "\e74a"; }

.mhicons-icon-uni52:before { content: "\e74b"; }

.mhicons-icon-uni53:before { content: "\e74c"; }

.mhicons-icon-uni54:before { content: "\e74d"; }

.mhicons-icon-cog2:before { content: "\e74e"; }

.mhicons-icon-heart3:before { content: "\e74f"; }

.mhicons-icon-search2:before { content: "\e750"; }

.mhicons-icon-box2:before { content: "\e751"; }

.mhicons-icon-tag2:before { content: "\e752"; }

.mhicons-icon-grid-2:before { content: "\e753"; }

.mhicons-icon-help2:before { content: "\e754"; }

.mhicons-icon-flag2:before { content: "\e755"; }

.mhicons-icon-phone-alt:before { content: "\e756"; }

.mhicons-icon-search-alt:before { content: "\e757"; }

.mhicons-icon-printfriendly:before { content: "\e758"; }

.mhicons-icon-buffer:before { content: "\e759"; }

.mhicons-icon-mixlr:before { content: "\e75a"; }

.mhicons-icon-periscope:before { content: "\e75b"; }

.mhicons-icon-younow:before { content: "\e75c"; }

.mhicons-icon-whatsapp:before { content: "\e75d"; }

.mhicons-icon-app-store:before { content: "\e75e"; }

.mhicons-icon-windows-store:before { content: "\e75f"; }

.mhicons-icon-google-play:before { content: "\e760"; }

.mhicons-icon-google:before { content: "\e761"; }

.mhicons-icon-baidu:before { content: "\e762"; }

.mhicons-icon-flattr2:before { content: "\e763"; }

.mhicons-icon-foursquare:before { content: "\e764"; }

.mhicons-icon-icloud:before { content: "\e765"; }

.mhicons-icon-email:before { content: "\e766"; }

.mhicons-icon-mail-with-circle:before { content: "\e767"; }

.mhicons-icon-medium:before { content: "\e768"; }

.mhicons-icon-onedrive:before { content: "\e769"; }

.mhicons-icon-snapchat-square:before { content: "\e76a"; }

.mhicons-icon-snapchat-ghost:before { content: "\e76b"; }

.mhicons-icon-snapchat:before { content: "\e76c"; }

.mhicons-icon-wallet:before { content: "\e76d"; }

.mhicons-icon-clapperboard:before { content: "\e76e"; }

.mhicons-icon-round-brush:before { content: "\e76f"; }

.mhicons-icon-blackboard:before { content: "\e770"; }

.mhicons-icon-laptop:before { content: "\e771"; }

.mhicons-icon-tablet-mobile-combo:before { content: "\e772"; }

.mhicons-icon-tablet:before { content: "\e773"; }

.mhicons-icon-fingerprint:before { content: "\e774"; }

.mhicons-icon-hand:before { content: "\e775"; }

.mhicons-icon-flower:before { content: "\e776"; }

.mhicons-icon-tree:before { content: "\e777"; }

.mhicons-icon-emoji-sad:before { content: "\e778"; }

.mhicons-icon-emoji-neutral:before { content: "\e779"; }

.mhicons-icon-emoji-happy:before { content: "\e77a"; }

.mhicons-icon-emoji-flirt:before { content: "\e77b"; }

.mhicons-icon-tripadvisor:before { content: "\e77c"; }

.mhicons-icon-flag22:before { content: "\e77d"; }

.mhicons-icon-at-sign:before { content: "\e77e"; }

.mhicons-icon-envelope:before { content: "\e77f"; }

.mhicons-icon-envelope-open:before { content: "\e780"; }

.mhicons-icon-telephone:before { content: "\e781"; }

.mhicons-icon-telephone4:before { content: "\e782"; }

.mhicons-icon-telephone2:before { content: "\e783"; }

.mhicons-icon-map-marker:before { content: "\e784"; }

.mhicons-icon-calendar-full:before { content: "\e785"; }

.mhicons-icon-smartphone:before { content: "\e786"; }

.mhicons-icon-tablet2:before { content: "\e787"; }

.mhicons-icon-tablet22:before { content: "\e788"; }

.mhicons-icon-phone2:before { content: "\e789"; }

.mhicons-icon-map2:before { content: "\e78a"; }

.mhicons-icon-calendar-empty:before { content: "\e78b"; }

.mhicons-icon-flag3:before { content: "\e78c"; }

.mhicons-icon-at-sign2:before { content: "\e78d"; }

.mhicons-icon-calendar:before { content: "\e78e"; }

.mhicons-icon-envelope2:before { content: "\e78f"; }

.mhicons-icon-envelope-open3:before { content: "\e790"; }

.mhicons-icon-smartphone2:before { content: "\e791"; }

.mhicons-icon-smartphone3:before { content: "\e792"; }

.mhicons-icon-road-sign:before { content: "\e793"; }

.mhicons-icon-map-marker2:before { content: "\e794"; }

.mhicons-icon-sun3:before { content: "\e795"; }

.mhicons-icon-telephone3:before { content: "\e796"; }

.mhicons-icon-telephone5:before { content: "\e797"; }

.mhicons-icon-sun-o:before { content: "\e798"; }

.mhicons-icon-calendar-o:before { content: "\e799"; }

.mhicons-icon-calendar3:before { content: "\e79a"; }

.mhicons-icon-square:before { content: "\e79b"; }

.mhicons-icon-envelope-square:before { content: "\e79c"; }

.mhicons-icon-phone-square:before { content: "\e79d"; }

.mhicons-icon-phone-square2:before { content: "\e79e"; }

.mhicons-icon-envelope3:before { content: "\e79f"; }

.mhicons-icon-mobile2:before { content: "\e7a0"; }

.mhicons-icon-brightness_low:before { content: "\e7a1"; }

.mhicons-icon-moon2:before { content: "\e7a2"; }

.mhicons-icon-moon3:before { content: "\e7a3"; }

.mhicons-icon-date_range:before { content: "\e7a4"; }

.mhicons-icon-mail_outline:before { content: "\e7a5"; }

.mhicons-icon-mobile3:before { content: "\e7a6"; }

.mhicons-icon-phone5:before { content: "\e7a7"; }

.mhicons-icon-phone6:before { content: "\e7a8"; }

.mhicons-icon-phone_msg:before { content: "\e7a9"; }

.mhicons-icon-phone_msg2:before { content: "\e7aa"; }

.mhicons-icon-sun4:before { content: "\e7ab"; }

.mhicons-icon-calendar4:before { content: "\e7ac"; }

.mhicons-icon-envelope4:before { content: "\e7ad"; }

.mhicons-icon-phone3:before { content: "\e7ae"; }

.mhicons-icon-phone4:before { content: "\e7af"; }

.mhicons-icon-phone7:before { content: "\e7b0"; }

.mhicons-icon-cart-alt-01:before { content: "\e7b1"; }

.mhicons-icon-cart-alt-02:before { content: "\e7b2"; }

.mhicons-icon-cart-alt-03:before { content: "\e7b3"; }

.mhicons-icon-cart-alt-04:before { content: "\e7b4"; }

.mhicons-icon-cart-alt-05:before { content: "\e7b5"; }

.mhicons-icon-cart-alt-06:before { content: "\e7b6"; }

.mhicons-icon-cart-alt-07:before { content: "\e7b7"; }

.mhicons-icon-cart-alt-08:before { content: "\e7b8"; }

.mhicons-icon-cart-alt-09:before { content: "\e7b9"; }

@media all and (min-width: 1301px) { .glyph:nth-of-type(5n+0) { margin-right: 0; } }
@media all and (max-width: 1300px) and (min-width: 1081px) { .glyph { min-width: 22%; padding: 4% 0; margin-right: 4%; }
  .glyph:nth-of-type(4n+0) { margin-right: 0; } }
@media all and (max-width: 1080px) and (min-width: 783px) { .glyph { min-width: 30%; padding: 5% 0; margin-right: 5%; }
  .glyph:nth-of-type(3n+0) { margin-right: 0; } }
@media all and (max-width: 782px) and (min-width: 481px) { .glyph { min-width: 47%; padding: 6% 0; margin-right: 6%; }
  .glyph:nth-of-type(2n+0) { margin-right: 0; } }
@media all and (max-width: 480px) { .glyph { min-width: 100%; padding: 0 0 7% 0; } }
